.apartment-container {
  position: relative;
  right: 20px;
  bottom: 80px;
}
/* 
.apartment-list {
  position: relative;
  width: 104%;
  right: 40px;
} */

.sort-button {
  width: 55%;
  margin-right: 2%;
  position: relative;
  left: 20px;
  top: 15px;
}

.filter-button {
  width: 42%;
  position: relative;
  left: 20px;
}

#dropdown-basic-button {
  color: #d70f4e;
  border-radius: 18px;
  border-color: #d70f4e;
  background-color: white;
}

.filter-button Button {
  color: #d70f4e;
  border-radius: 18px;
  border-color: #d70f4e;
  background-color: white;
}

.filter-button Button:hover {
  background-color: #d70f4e;
}

.search-label {
  position: relative;
  left: 20px;
}

.search-label input {
  height: 40px;
  width: 90%;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.search-label button {
  position: relative;
  left: 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.search-label button:hover {
  background-color: transparent;
}

.pagination {
  background-color: red;
  position: relative;
  width: 10%;
  left: 160px;
  bottom: 100px;
}

/* .pag-container {
  position: relative;
  left: 200px;
} */

.nav-container {
  position: relative;
  background-color: #f8f9fa;
  padding-top: 20px;
  bottom: 80px;
  border-radius: 18px;
}

.text-muted {
  background-color: white;
}
