.register-form {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #f2f2f2;
  width: 500px;
  height: 250px;
  padding: 20px 0 30px 0;
}

.form-group {
  position: relative;
  bottom: 50px;
  left: 50px;
}

.form-group input {
  position: relative;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 18px;
  display: inline-block;
  font-size: 17px;
  line-height: 0px;
  text-decoration: none; /* remove underline from anchors */
}

.register-form button {
  border: none;
  border-radius: 18px;
  width: 80%;
  background-color: #d70f4e;
  font-weight: 500;
  position: relative;
  bottom: 40px;
  left: 50px;
  height: 35px;
}

.register-form button:hover {
  background-color: #a80c3d;
}

.register-form a {
  position: relative;
  /* bottom: 20px; */
  left: 140px;
  color: #d70f4e;
}

#usernameError {
  position: relative;
  bottom: 26px;
  left: 280px;
}

#passwordError {
  position: relative;
  bottom: 42px;
  left: 280px;
}

#emailError {
  position: relative;
  bottom: 28px;
  left: 270px;
}

#duplicatesError {
  position: relative;
  left: 160px;
}

#usernameError {
  position: relative;
  top: 10px;
  left: 0px;
}

#passwordError {
  position: relative;
  bottom: 60px;
  left: 50px;
}
