body {
  background: url('https://raw.githubusercontent.com/yimanliu0/yimanliu0.github.io/master/images/background.JPG');
  background-size: 1920px 1000px;
}
#app-title {
  color: #d70f4e;
  position: relative;
  right: 405px;
  /* top: 20px; */
  background-color: #f2f2f2;
  width: 300%;
  height: 50px;
}

#home-nav {
  position: relative;
  right: 405px;
  background-color: #f2f2f2;
  width: 174%;
  height: 50px;
}

.navbar-brand {
  color: #d70f4e;
}

#home-button:hover {
  background-color: transparent;
}

#introduction {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 250px;
  background-color: #f2f2f2;
}
.jumbotron {
  padding: 50px;
}
